:root{
  color-scheme: light;

  --primary-color: #6cf;
  --secondary-color: #003;
  --accent-color: #6cf;

  --clr-info: green;
  --clr-warning: red;
  --clr-caution: yellow;

  --clr-light1: #fff;
  --clr-light2: #eee;
  --clr-light3: #ccc;

  --clr-dark1: #555;
  --clr-dark2: #333;
  --clr-dark3: #111;


  --pri-clr: light-dark(var(--primary-color), var(--secondary-color));
  --sec-clr: light-dark(var(--secondary-color), var(--primary-color));
  --bg-clr: light-dark(var(--light-color), var(--dark-color));
  --txt-clr: light-dark(var(--dark-color), var(--light-color));


  --border-light1: 1px solid var(--clr-light3);
  --border-light2: 1px solid var(--clr-light2);
  --border-light3: 1px solid var(--clr-light3);
  --border-dark1: 1px solid var(--clr-dark1);
  --border-dark2: 1px solid var(--clr-dark2);
  --border-dark3: 1px solid var(--clr-dark3);
  --border-primary: 1px solid var(--clr-primary);
  --border-secondary: 1px solid var(--clr-secondary);
  --border-accent: 1px solid var(--clr-accent);

  --test-border: 1px solid red;
}
body {

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-clr);
  color: var(--txt-clr);
}
main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-between;
  height: 100%;
}
.panel {
  min-width: 175px;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--clr-light2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.panel h1 {
  color: var(--primary-color);
}
.panel a {
  color: var(--txt-clr);
  font-size: 1rem;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.panel-header,
.panel-footer {
  padding-left: 10px;
}
.panel-footer {
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
}
.panel-body {
  min-height: 100%;
  width: 100%;
}

.tabs {
  height: 100%;
  padding: 0;
  width: 100%;
}
.tabs :last-child {
  border-bottom: var(--border-light3)
}
.tab {
  height: 40px;
  width: 100%;
  background: var(--clr-light2);
  border-top: var(--border-light3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;;
}
.tab:hover {
  background-color: var(--primary-color);
}
.tab.active {
  background-color: var(--primary-color);
}





.dark-mode  {
  color-scheme: dark;
}
.light-mode {
  color-scheme: light;
}

.preview {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 0;
  background-color: var(--clr-light2);
  border-bottom: var(--border-light1);
  width: 100%;
  height: auto;
}
.col {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: 10px;
  background-color: var(--clr-light2);
  width: 100%;
  height: 100%;
  border: var(--border-light1);
}
.scorecard {
  width: 150px;
  height: 50px;
  background-color: var(--sec-clr);
  color: var(--txt-clr);
  border: 1px solid var(--txt-clr);
  padding: 10px;
  text-align: center;
  margin: 0 10px;
}


.btn {
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.primary-btn {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
}
.primary-btn:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
}
.secondary-btn {
  background-color: var(--bg-clr);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.secondary-btn:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
}
.toggle-btn {
  position: fixed;
  left: 10%;
  top: 85px;
}

.theme-toggle {
  position: fixed;
  top: 90px;
  right: 10%;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  margin: 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--sec-clr);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 22px;
  left: 3px;
  bottom: 2px;
  background-color: var(--bg-clr);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--pri-clr);
}

input:checked + .slider:before {
  transform: translateX(33px);
  -webkit-transform: translateX(33px);
  -moz-transform: translateX(33px);
  -ms-transform: translateX(33px);
  -o-transform: translateX(33px);
}