:root{
  color-scheme: light dark;

  --primary-color;
  --secondary-color;
  --accent-color;
  --light-color;
  --dark-color;


/* Primary Color Variants */
--primary-color-alpha-100: calc(var(--primary-color) + 'FF');
--primary-color-alpha-90: calc(var(--primary-color) + 'E6');
--primary-color-alpha-80: calc(var(--primary-color) + 'CC');
--primary-color-alpha-70: calc(var(--primary-color) + 'B3');
--primary-color-alpha-60: calc(var(--primary-color) + '99');
--primary-color-alpha-50: calc(var(--primary-color) + '80');
--primary-color-alpha-40: calc(var(--primary-color) + '66');
--primary-color-alpha-30: calc(var(--primary-color) + '4D');
--primary-color-alpha-20: calc(var(--primary-color) + '33');
--primary-color-alpha-10: calc(var(--primary-color) + '1A');

/* Secondary Color Variants */
--secondary-color-alpha-100: calc(var(--secondary-color) + 'FF');
--secondary-color-alpha-90: calc(var(--secondary-color) + 'E6');
--secondary-color-alpha-80: calc(var(--secondary-color) + 'CC');
--secondary-color-alpha-70: calc(var(--secondary-color) + 'B3');
--secondary-color-alpha-60: calc(var(--secondary-color) + '99');
--secondary-color-alpha-50: calc(var(--secondary-color) + '80');
--secondary-color-alpha-40: calc(var(--secondary-color) + '66');
--secondary-color-alpha-30: calc(var(--secondary-color) + '4D');
--secondary-color-alpha-20: calc(var(--secondary-color) + '33');
--secondary-color-alpha-10: calc(var(--secondary-color) + '1A');

/* Accent Color Variants */
--accent-color-alpha-100: calc(var(--accent-color) + 'FF');
--accent-color-alpha-90: calc(var(--accent-color) + 'E6');
--accent-color-alpha-80: calc(var(--accent-color) + 'CC');
--accent-color-alpha-70: calc(var(--accent-color) + 'B3');
--accent-color-alpha-60: calc(var(--accent-color) + '99');
--accent-color-alpha-50: calc(var(--accent-color) + '80');
--accent-color-alpha-40: calc(var(--accent-color) + '66');
--accent-color-alpha-30: calc(var(--accent-color) + '4D');
--accent-color-alpha-20: calc(var(--accent-color) + '33');
--accent-color-alpha-10: calc(var(--accent-color) + '1A');

/* Light Color Variants */
--light-color-alpha-100: calc(var(--light-color) + 'FF');
--light-color-alpha-90: calc(var(--light-color) + 'E6');
--light-color-alpha-80: calc(var(--light-color) + 'CC');
--light-color-alpha-70: calc(var(--light-color) + 'B3');
--light-color-alpha-60: calc(var(--light-color) + '99');
--light-color-alpha-50: calc(var(--light-color) + '80');
--light-color-alpha-40: calc(var(--light-color) + '66');
--light-color-alpha-30: calc(var(--light-color) + '4D');
--light-color-alpha-20: calc(var(--light-color) + '33');
--light-color-alpha-10: calc(var(--light-color) + '1A');

/* Dark Color Variants */
--dark-color-alpha-100: calc(var(--dark-color) + 'FF');
--dark-color-alpha-90: calc(var(--dark-color) + 'E6');
--dark-color-alpha-80: calc(var(--dark-color) + 'CC');
--dark-color-alpha-70: calc(var(--dark-color) + 'B3');
--dark-color-alpha-60: calc(var(--dark-color) + '99');
--dark-color-alpha-50: calc(var(--dark-color) + '80');
--dark-color-alpha-40: calc(var(--dark-color) + '66');
--dark-color-alpha-30: calc(var(--dark-color) + '4D');
--dark-color-alpha-20: calc(var(--dark-color) + '33');
--dark-color-alpha-10: calc(var(--dark-color) + '1A');



  --pri-clr: light-dark(var(--primary-color), var(--secondary-color));
  --sec-clr: light-dark(var(--secondary-color), var(--primary-color));
  --bg-clr: light-dark(var(--light-color), var(--dark-color));
  --txt-clr: light-dark(var(--dark-color), var(--light-color));


  --border-100: var(--primary-color-alpha-100);
  --border-90: var(--primary-color-alpha-90);
  --border-80: var(--primary-color-alpha-80);
  --border-70: var(--primary-color-alpha-70);
  --border-60: var(--primary-color-alpha-60);
  --border-50: var(--primary-color-alpha-50);
  --border-40: var(--primary-color-alpha-40);
  --border-30: var(--primary-color-alpha-30);
  --border-20: var(--primary-color-alpha-20);
  --border-10: var(--primary-color-alpha-10);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-clr);
  color: var(--txt-clr);
}
header {
  height: 50px;
  padding: 0 10%;
  width: 100%;
  border-bottom: 1px solid var(--txt-clr);
}
header a {
  color: var(--txt-clr);
}
header a:hover {
  color: var(--primary-color);
}


.dark-mode  {
  color-scheme: dark;
}
.light-mode {
  color-scheme: light;
}

.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toggleLightDark {
  width: 350px;
  height: 250px;
  background-color: var(--sec-clr);
  color: var(--txt-clr);
  border: 1px solid var(--txt-clr);
  padding: 10px;
  text-align: center;
  margin: 120px 0;

}


.panel {
  position: fixed;
  top: 130px;
  left: 10%;
  padding: 10px;
  background: var(--bg-clr);
  border: 1px solid var(--txt-clr);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.panel.hidden {
  display: none;
}

.active-scheme {
  font-size: 1.2em;
  margin-bottom: 10px;
  min-width: 200px;
}

.schemes-container {
  max-height: 200px;
  overflow-y: auto;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.schemes {
  list-style-type: none;
  padding: 0;
}

.schemes li {
  padding: 5px;
  cursor: pointer;
  border: 1px solid var(--txt-clr);
  margin-bottom: 5px;
  border-radius: 3px;
}

.schemes li.active {
  background-color: var(--secondary-color);
  color: var(--bg-clr)
}

.palette {
  display: flex;
  justify-content: center;
  border: 1px solid var(--txt-clr);
  padding: 10px;
}

.clr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.display {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid var(--txt-clr);
  cursor: pointer;
}

.hex {
  font-size: 0.9em;
}

.btn {
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.primary-btn {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
}
.primary-btn:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
}
.secondary-btn {
  background-color: var(--bg-clr);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.secondary-btn:hover {
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
}
.toggle-btn {
  position: fixed;
  left: 10%;
  top: 85px;
}

footer {
  text-align: center;
  padding: 10px;
}
.theme-toggle {
  position: fixed;
  top: 90px;
  right: 10%;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  margin: 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--sec-clr);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 22px;
  left: 3px;
  bottom: 2px;
  background-color: var(--bg-clr);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--pri-clr);
}

input:checked + .slider:before {
  transform: translateX(33px);
  -webkit-transform: translateX(33px);
  -moz-transform: translateX(33px);
  -ms-transform: translateX(33px);
  -o-transform: translateX(33px);
}