<div class="flex-center">
<form class="form user-form">
    <fieldset class="fieldset">
    <legend class="legend">Log In</legend>
    <label for="email" class="label">Email</label>
    <input type="email" id="email" name="email" placeholder="example@mail.com" class="input" required autocomplete="email" />

    <label for="password" class="label">Password</label>
    <input type="password" id="password" name="password" placeholder="********" class="input" required minlength="6" autocomplete="new-password" />
    <label class="input-option">
        <input type="checkbox" onclick="document.getElementById('password').type = this.checked ? 'text' : 'password'" />
        <span class="custom-checkbox"></span>
        Show Password
    </label>
    <button type="submit" class="primary" style="float: right;">Sign In</button>
    </fieldset>
</form>
</div>
<script>
function initGuest() {
  console.log('🚀 Main init');
  document.querySelector('form').addEventListener('submit', (e) => {
    e.preventDefault();
    const formData = new FormData(e.target);
    State.set('user', formData.get('email'));
    State.set('password', formData.get('password'));
    State.set('role', 'admin');
    State.set('route', 'dashboard');

    log.success('Sign In successful →', State.get('user'), State.get('role'), State.get('route'));
  });
}

</script>